
/* 头部模块开始 */
.box{
    overflow: hidden;
}
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    height: 60px;
    background-color: #FAFAFA;
    color: #292E35;
}

.header__logo {
    float: left;
    height: 40px;
    margin: 10px 0px 0px 10px;
    padding: 0px 0px 0px 50px;
    background: url("./../img/logo.png") left top no-repeat;
    display: block;
    font-size: 18px;
    line-height: 40px;
}

.header__lo {
    float: left;
    height: 40px;
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 50px;
   
    display: block;
    font-size: 18px;
    line-height: 40px;
}
.oo {
    float: left;
    height: 40px;
    margin: 10px 0px 0px 10px;
    padding: 0px 0px 0px 50px;
   
    display: block;
    font-size: 16px;
    line-height: 40px;
}
.header__nav {
    float: right;
    margin: 10px 10px 0px 0px;
    position: relative;
}

.header__nav-item:hover {
    color: #f03131;
}

.header__nav-item {
    float: left;
    padding: 0 20px;
    font-size: 14px;
    display: inline-block;
    width: 80px;
    text-align: center;
    line-height: 40px;
}




/* 第2屏开始 */

.s2 {
    color: rgb(255,255,255);
    height: 800px;
    background-color: #a71316;
}

.s2__wrap {
    max-width: 1200px;
    min-width: 800px;
    margin: 0px auto;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.s2__heading {
    position: absolute;
    top: 90px;
    left: 10px;
    width: 580px;
    font-size: 36px;
}
.s2__subheading {
    position: absolute;
    top: 170px;
    left: 10px;
    width: 580px;
    font-size: 16px;
}

.s2__phone{
    width: 729px;
    height: 700px;
    position: absolute;
    top: 80px;
    left: 465px;

   /*  background: url(../img/bg-screen-3.png) no-repeat; */
}

.s2__features {
    position: absolute;
    width: 328px;
    height: 288px;
    bottom: 140px;
    left: 5px;
}
.s2__features-item-number{
    height: 36px;
    font-size: 36px;
    line-height: 36px;
    padding: 32px 0 9px 0;
    display: block;
}
.s2__features-item {
    float: left;
    width: 138px;
    height: 118px;
    border: 1px solid #D97173;
    border-radius: 3px;
    text-align: center;
    line-height: 14px;
    font-size: 14px;
    margin: 0 24px 24px 0;
    color: #fff;
}


/* 第3屏开始 */
.screen-4{
    background-color: #fff;
    text-align: center;
    height: 800px;
}
.screen-4__wrap {
    max-width: 1200px;
    min-width: 800px;
    margin: 0px auto;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.screen-4__heading {
    position: absolute;
    top: 80px;
    width: 100%;
    font-size: 42px;
    color: #f01414;
}
.screen-4__subheading {
    position: absolute;
    top: 180px;
    width: 100%;
    font-size: 16px;
}

.screen-4__type {
    width: 1300px;
    margin-left: 30px;
    height: 270px;
    bottom:220px;
    position: absolute;
    font-size: 16px;
    text-align: center;
}

.screen-4__type-item {
    width: 220px;
    height: 270px;
    float: left;
    margin-right: 90px;
    position: relative;
}
.screen-4__type-item-name{
    width: 100%;
    height: 40px;
    position: absolute;
    top: 300px;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    color: #2c3238;
}
.screen-4__type-item-storage{

    width: 100%;
    height: 40px;
    position: absolute;
    top: 328px;
    font-size: 9px;
    height: 9px;
    line-height: 9px;
    color: #93999f;
}

.screen-4__type .photo{
    width: 240px;
    height: 270px;
    position: absolute;
    left: 0;
    top: 0;
}

    .screen-4__type-item_i_1 {
        background: url("../img/phone-1.png") center left no-repeat;
        background-size:303px  300px;
        
    }

    .screen-4__type-item_i_2{
        background: url("../img/phone-2.png") center left no-repeat;
          background-size:300px  350px;
    }

    .screen-4__type-item_i_3 {
        background: url("../img/phone-3.png") center left no-repeat;
          background-size:300px  300px;
    }

     .screen-4__type-item_i_4 {
        background: url("../img/phone-4.png") center left no-repeat;
          background-size:300px  350px;
    }
 



/*页脚模块开始*/
.footer {
	width:100%;
    height: 100px;
    line-height: 80px;
    background-color: #07111b;
    text-align: center;
    color: #fff;
    padding-bottom: 0px;
    margin-top: 150px;
}



