<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
		
		<!-- 配置mybatis的log实现LOG4J在控制台输出SQL语句 -->
		<settings>
			<setting name="logImpl" value="LOG4J"/>
		</settings>
		
	
	
	

</configuration>